@import '../../styles/settings.scss';

.m-picker-view {
  &_disabled {
    pointer-events: none;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    &__label {
      text-align: center;
      @include ellipsis;
    }
  }

  &__separator {
    pointer-events: none;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 2em;

    &_empty {
      flex-basis: 0;
    }
  }
}
