@import '../../../settings.scss';

.logo {
  text-align: center;
  margin: 30px 0;

  .image {
    width: 150px;
  }

  .desc {
    font-size: 15px;
    margin-top: 15px;
    color: $grayColor;
  }
}
