@import '../../settings.scss';

.transition {
  animation: ease both;
}

@keyframes fadeEnter {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeLeave {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeUpEnter {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeUpLeave {
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes slideUpEnter {
  from {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes slideUpLeave {
  to {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeDownEnter {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeDownLeave {
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideDownEnter {
  from {
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideDownLeave {
  to {
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeLeftEnter {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeLeftLeave {
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideLeftEnter {
  from {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideLeftLeave {
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeRightEnter {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes fadeRightLeave {
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideRightEnter {
  from {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideRightLeave {
  to {
    transform: translate3d(100%, 0, 0);
  }
}
