@import '../../settings.scss';

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(black, 0.6);
  }
  .content {
    position: relative;
    z-index: 1;
  }
  &.center {
    justify-content: center;
    align-items: center;
  }
  &.top {
    justify-content: center;
    align-items: flex-start;
  }
  &.bottom {
    justify-content: center;
    align-items: flex-end;
  }
  &.left {
    justify-content: flex-start;
    align-items: center;
  }
  &.right {
    justify-content: flex-end;
    align-items: center;
  }
}
