@import '../../settings.scss';

.m-popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  &__mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(black, 0.6);
  }
  &__content {
    position: relative;
    z-index: 1;
  }
  &_center {
    justify-content: center;
    align-items: center;
  }
  &_top {
    justify-content: center;
    align-items: flex-start;
  }
  &_bottom {
    justify-content: center;
    align-items: flex-end;
  }
  &_left {
    justify-content: flex-start;
    align-items: center;
  }
  &_right {
    justify-content: flex-end;
    align-items: center;
  }
}
