// 设计稿尺寸
$designWidth: 375 !default;

// 主色调
$primaryColor: #1AAD19 !default;

// 灰色调
$grayColor: #999 !default;

// 边线颜色
$hairlineColor: #E5E5E5 !default;

// 弹出层遮罩颜色
$popupMaskColor: rgba(black, 0.6) !default;

// 文字溢出显示省略号
@mixin ellipsis($line: 1) {
  @if ($line == 1) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  } @else {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
  }
}

// 纯粹的按钮，去除小程序按钮的默认样式，仅保留居中属性
@mixin pureButton {
  position: relative;
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
  outline: none;
  font-size: inherit;
  line-height: inherit;
  border-radius: 0;
  border: none;
  color: inherit;
  background: inherit;
  overflow: auto;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;

  &.button-hover {
    color: inherit;
    background: inherit;
  }

  &::before,
  &::after {
    content: none;
  }
}

// 将 375 尺寸下的像素转换为其他尺寸下的像素
@function transformPx($px) {
  @return unquote(($px / (375 / $designWidth)) + 'px');
}
