// 设计稿尺寸
$designWidth: 375 !default;

// 主色调
$primaryColor: #1AAD19 !default;

// 灰色调
$grayColor: #999 !default;

// 边线颜色
$hairlineColor: #E5E5E5 !default;

// 弹出层遮罩颜色
$popupMaskColor: rgba(black, 0.6) !default;
