@import '../../settings.scss';

.view {
  background: white;
  width: 100vw;
  font-size: transformPx(17);
  .header {
    display: flex;
    align-items: center;
    padding: transformPx(10) transformPx(15);
    border-bottom: 1px solid $hairlineColor;
    .cancel {
      flex-shrink: 0;
      font-size: transformPx(17);
      color: $grayColor;
      &.hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
      }
    }
    .title {
      flex-grow: 1;
      text-align: center;
      margin: 0 transformPx(15);
      font-size: transformPx(19);
      @include ellipsis;
    }
    .confirm {
      flex-shrink: 0;
      font-size: transformPx(17);
      color: $primaryColor;
    }
  }
}
