@import '../../settings.scss';

.item {
  position: relative;
  padding: 0 15px;
  min-height: 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 0;
    height: 0.5px;
    border-bottom: 0.5px solid $hairlineColor;
  }

  &.active {
    background: $feedbackColor;
  }

  .title {
    flex-grow: 1;
    font-size: 17px;
  }

  .extra {
    flex-shrink: 0;
    font-size: 15px;
    color: $grayColor;
  }

  .arrow {
    flex-shrink: 0;
    font-size: 15px;
    color: $grayColor;
    display: flex;
    align-items: center;
  }
}
