@import '../settings.scss';

$sideBarWidth: 150px;

.page {
  min-height: 100vh;
  padding: 0;
  margin-left: $sideBarWidth;
  display: flex;
  align-items: center;
  justify-content: center;

  .sideBar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: $sideBarWidth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
    box-sizing: border-box;
    z-index: 1;
    background: darken(white, 2%);

    .toggle {
      width: 100%;
      font-size: 18px;
      padding: 6px 15px;
      margin: 6px 0;
      border-radius: 4px;
      background: darken(white, 6%);
      color: lighten(black, 30%);
      text-align: center;
      box-sizing: border-box;

      &.active {
        opacity: 0.5;
      }
    }
  }

  .poem {
    background: darken(white, 3%);
    color: lighten(black, 40%);
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    line-height: 2;
  }
}
