@import './settings.scss';
@import './styles/components.scss';

page > view,
.m-sticky_fixed .m-sticky__content {
  background: $backgroundColor;
  padding: 0 20px;
  box-sizing: border-box;
}

page > view {
  position: relative;
  min-height: 100vh;
  padding-bottom: 80px;
  overflow: hidden;

  &::after {
    content: 'github.com/fjc0k/mounted';
    position: absolute;
    bottom: 30px;
    left: 50%;
    white-space: nowrap;
    color: $grayColor;
    font-size: 13px;
    transform: translateX(-50%);
  }
}
